body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.firstIcones img {
    margin-right: 10px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.search-container a {
    margin-left: 5px;
}

.search-container img {
    width: 20px;
    height: 20px;
}

.perfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
